/* Logo */
.svg .wp-badge.welcome__logo {
    background: url('../img/logo.png') center 24px no-repeat #0092f9;
    background-size: contain;
    color: #fff;
}

/* Responsive Youtube Video*/
.embed-container {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    top: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}
